* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 14px;
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
  border: none;
  cursor: pointer;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.1rem;
  margin: 0px 20px;
  margin: 10px;
  padding: 16px 32px;
  text-decoration: none;
}

@media (width > 768px) {
  .button__section, .button__section--dark, .button__section--light {
    font-size: 1.2rem;
  }
}
@media (width > 1024px) {
  .button__section, .button__section--dark, .button__section--light {
    font-size: 1.3rem;
  }
}

.button__section--light {
  background-color: #ffffff;
  color: #2dc1d7;
}
.button__section--light:hover {
  background-color: #faf048;
  color: #2dc1d7;
}

.button__section--dark {
  background-color: #ffffff;
  color: #2dc1d7;
  width: auto;
}
.button__section--dark:hover {
  background-color: #2dc1d7;
  color: #ffffff;
}

.card--responsive {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
.card--responsive a {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.card--responsive a img {
  width: 20%;
}

.card--responsive--head {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  max-width: 500px;
}
.card--responsive--head a {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.card--responsive--head a img {
  width: 20%;
}

.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200px; /* change this to change the size*/
}

.linkedin {
  background: #0A66C2;
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.facebook {
  background: #3b5998;
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex, .flex__button--responsive, .flex__article--responsive, .flex__article--responsive--right {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
}

.flex__article--responsive, .flex__article--responsive--right {
  flex-wrap: wrap-reverse;
}
.flex__article--responsive > *, .flex__article--responsive--right > * {
  flex-basis: 240px;
  flex-grow: 1;
  flex-shrink: 1;
}

@media (width > 768px) {
  .flex__article--responsive--right {
    justify-content: flex-end;
  }
  .flex__article--responsive--right > * {
    flex-basis: 240px;
    flex-grow: 0.7;
    flex-shrink: auto;
  }
}

header {
  background-color: rgb(255, 255, 255);
}

.nav-link {
  color: #2dc1d7;
}

.nav-link:hover {
  background-color: #faf048;
  color: #2dc1d7 !important;
}

.section--light {
  background-color: #F2F2F2;
}
.section--light h2 {
  color: #2dc1d7;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5%;
  text-align: center;
  text-transform: uppercase;
}
.section--light h3 {
  text-transform: uppercase;
  color: #2dc1d7;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3%;
  text-align: center;
}
.section--light h4 {
  color: #2dc1d7;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2%;
  text-align: center;
  text-transform: uppercase;
}
.section--light p,
.section--light li {
  color: #000000;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 1%;
}

.section--light--green {
  background-color: #faf048;
}
.section--light--green h2 {
  color: #2dc1d7;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5%;
  text-align: center;
  text-transform: uppercase;
}
.section--light--green h3 {
  text-transform: uppercase;
  color: #2dc1d7;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3%;
  text-align: center;
}
.section--light--green h4 {
  color: #2dc1d7;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2%;
  text-align: center;
  text-transform: uppercase;
}
.section--light--green p,
.section--light--green li {
  color: #333;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 1%;
}

.section--dark, .footer--dark {
  background-color: #333;
}
.section--dark h2, .footer--dark h2 {
  color: #2dc1d7;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5%;
  text-align: center;
  text-transform: uppercase;
}
.section--dark h3, .footer--dark h3 {
  text-transform: uppercase;
  color: #2dc1d7;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3%;
  text-align: center;
}
.section--dark h4, .footer--dark h4 {
  color: #2dc1d7;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2%;
  text-align: center;
  text-transform: uppercase;
}
.section--dark p, .footer--dark p,
.section--dark li,
.footer--dark li {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 1%;
}

.footer--dark h4 {
  font-size: 20rem;
  margin-bottom: 10%;
}
.footer--dark p,
.footer--dark li {
  font-size: 10rem;
  margin-bottom: 10%;
}

/*--------------------------------------------------  */
/* GRID CODE MAIN PAGE */
.page--grid {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10px auto 10fr auto;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

aside {
  grid-area: aside;
  display: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.grid--responsive {
  /* Responsive gid without media queries */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 20px;
  /* Responsive gid with mediaqueries -> More exact */
}
.grid--responsive--mq {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
}
@media (width > 768px) {
  .grid--responsive--mq .grid--responsive_MQ {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
}
@media (width > 1024px) {
  .grid--responsive--mq .grid--responsive_MQ {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }
}

.grid__footer, .grid__footer--responsive {
  display: grid;
  gap: 1rem;
  grid-template-columns: 100%;
  grid-template-areas: "info" "address" "rights";
  grid-template-columns: auto;
  padding: 5px;
}
.grid__footer .info, .grid__footer--responsive .info {
  grid-area: info;
}
.grid__footer .support, .grid__footer--responsive .support {
  grid-area: support;
  display: none;
}
.grid__footer .address, .grid__footer--responsive .address {
  grid-area: address;
  display: none;
}
.grid__footer .rights, .grid__footer--responsive .rights {
  grid-area: rights;
  text-align: center;
}

@media (width > 768px) {
  .grid__footer--responsive {
    grid-template-areas: "info support" "info address" "rights rights";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
  }
  .grid__footer--responsive .support {
    display: block;
  }
  .grid__footer--responsive .address {
    display: block;
  }
}
@media (width > 1024px) {
  .grid__footer--responsive {
    grid-template-areas: "info support address" "info support address" "rights rights rights";
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto auto auto;
  }
}

.section_hero {
  height: 100vh;
  background-image: url("../assets/img/pattern_Water_leak.png");
  opacity: 0.9;
  color: #ffffff;
  background-attachment: fixed;
  background-position: LEFT;
  background-repeat: repeat;
  background-size: contain;
}

@media (width > 768px) {
  .feature__section--cut {
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 10% 70%);
  }
}
@media (width > 1024px) {
  .feature__section--cut {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 20% 70%);
  }
}
.feature__section--bg {
  background-image: url(../assets/img/Road_map.png);
  background-attachment: fixed;
  background-position: LEFT;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: #2dc1d7;
}

/*# sourceMappingURL=styles.css.map */
