.flex--responsive {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  padding:20px;
  justify-content: center;
}

.flex--responsive > * {
  flex-basis: 240px;
  flex-grow: 1;
  flex-shrink: 1;
}

