fieldset {
  border-width: 0;
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.1rem;
  input[type="email"],
  input[type="password"] {
    text-align: center;
  }
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    color: map-get($color_boton_light, texto);
  }
}


.form_contact{
        padding: 10px;   
        grid-row: 1;
  grid-column: 1;
}