/*--------------------------------------------------  */


@mixin grid($columns, $size) {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat($columns, $size);
  padding: 20px;
}

.grid--responsive {
  /* Responsive gid without media queries */
  @include grid(auto-fit, minmax(320px, 1fr));

  /* Responsive gid with mediaqueries -> More exact */
  &--mq {
    @include grid(1, 1fr);

    @media (width> 768px) {
      .grid--responsive_MQ {
        @include grid(2, 1fr);
      }
    }
    @media (width> 1024px) {
      .grid--responsive_MQ {
        @include grid(3, 1fr);
      }
    }
  }
}
/*--------------------------------------------------  */
/* GRID CODE MAIN PAGE */
.page--grid {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  @media (width> 768px) {
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 10fr auto;
    
  }
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
aside {
  grid-area: aside;
  display: none;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}


/*--------------------------------------------------  */
.grid__footer {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "info"
    "address"
    "rights";
  grid-template-columns: auto;

  padding: 5px;
  .info {
    grid-area: info;
  }
  .support {
    grid-area: support;
    display: none;
  }
  .address {
    grid-area: address;
    display: none;
  }
  .rights {
    grid-area: rights;
    text-align: center;
  }
}
.grid__footer--responsive {
  @extend .grid__footer;
  @media (width> 768px) {
    grid-template-areas:
      "info support"
      "info address"
      "rights rights";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    .support {
      display: block;
    }
    .address {
      display: block;
    }
  }
  @media (width> 1024px) {
    grid-template-areas:
      "info support address"
      "info support address"
      "rights rights rights";
    grid-template-columns: 50% 24% 24%;
    grid-template-rows: auto auto auto;
  }
}
/*--------------------------------------------------  */
.grid__contact {
  display: grid;
  grid-template-areas:
    "contact_form"
    "map"
    "address";
  grid-template-columns: auto;
  margin-top: 50px;
  padding: 0px;
  .contact_form {
    grid-area: contact_form;
    align-items: center;
    display:grid;     
  }
  .map {
    grid-area: map;
  }
  .address {
    grid-area: address;
    display: none;
    justify-self: center;
    padding: 20px;
  }
}
.grid__contact--responsive {
  @extend .grid__contact;
  @media (width> 768px) {
    .address {
      display: block;
    }
  }
  @media (width> 1024px) {
    grid-template-areas:
      "contact_form map"
      "contact_form map "
      "contact_form address";
    grid-template-columns: 50% 50%; /* <- porque no funciona con 50% */
    grid-template-rows: auto auto auto;
  }
}


