@mixin sec__card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  a {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  a img {
    width: 20%;
  }
}

.card--responsive {
  @include sec__card;
}

.card--responsive--head {
  @include sec__card;
  max-width: 500px;
}
