@mixin sec__card ($image_width){
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  text-align: justify;
  a {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  a img {
    width: $image_width;
  }
}

.card--responsive {
  @include sec__card(20%);
}

.card--responsive--head {
  @include sec__card(20%);
  max-width: 700px;
}

.card--responsive--footer {
  @include sec__card(7%);
  max-width: 700px;
}

.card__presentation--responsive{
  @include sec__card(40%);
  max-width: 600px;
  background-color: #33333306;
  &:hover {
    background-color: #33333310;
  }
  img {
    clip-path: polygon(70% 0%, 100% 70%, 70% 100%, 0% 70%);
    opacity: 0.5;
    
  }
  img:hover {
    clip-path: circle(50%);
    opacity: 1;
  }
}

