  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: map-get($color_input_light, background);
    border: none;
    color: map-get($color_input_light, texto);
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 1.1rem;
    margin: 0px 20px;
    margin: 10px;
    padding: 16px 32px;
    text-decoration: none;
  }
  
  
  input:hover {
    background-color: map-get($color_input_light, background_hover);
    color: map-get($color_input_light, texto_hover);
  }
  
