$bg_1:rgb(255, 255, 255);
$bg_2:#F2F2F2;
$bg_3:#faf048;
$bg_4:#2dc1d7;
$bg_5:#333;
$txt_1:#2dc1d7;
$txt_2:#000000;
$txt_3:#ffffff;
$txt_4:#333;

$color_light:(
background:$bg_2,
title:$txt_1,
texto:$txt_2,
);

$color_light_green:(
background:$bg_3,
title:$txt_1,
texto:$txt_4,
);


$color_dark:(
    background:$bg_5,
    title:$txt_1,
    texto:$txt_3  
);

$color_boton_light:(
    background:$bg_2,
    background_hover:$bg_3,
    texto:$txt_1,
    texto_hover:$txt_3,
    texto_focus: $bg_3
);

$color_boton_dark:(
    background:$bg_2,
    background_hover:$bg_4,
    texto:$txt_1,
    texto_hover:$txt_3 
)

