.image--blur {
  /* The image used */
  background-image: linear-gradient(
      to bottom,
      map-get($color_gradiant_light, color_bottom),
      map-get($color_gradiant_light, color_top)
    ),
    url("../assets/img/contact_Water_leak.webp");

  /* Add the blur effect */
  filter: blur(0px);
  -webkit-filter: blur(0px);

  /* Full height */
  height: 100%;

  /* Opacity */
  opacity: 0.7;

  /* Parallax */
  @include parallax(no-repeat, cover, center);

  grid-row: 1;
  grid-column: 1;
}
